@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --card: 196 65% 98%;
    --ring: 196 93% 66%;
    --input: 220 13% 91%;
    --muted: 16 37% 95%;
    --accent: 16 93% 66%;
    --border: 220 13% 91%;
    --popover: 196 65% 98%;
    --primary: 196 93% 66%;
    --secondary: 16 93% 66%;
    --background: 196 65% 98%;
    --foreground: 196 60% 1%;
    --destructive: 5 98% 22%;
    --card-foreground: 196 60% 1%;
    --muted-foreground: 16 13% 34%;
    --accent-foreground: 16 93% 6%;
    --popover-foreground: 196 60% 1%;
    --primary-foreground: 196 93% 6%;
    --secondary-foreground: 16 93% 6%;
    --destructive-foreground: 5 98% 82%;
    --radius: 0.5rem;
  }

  .dark {
    --card: 196 53% 3%;
    --ring: 196 93% 66%;
    --input: 215 27.9% 16.9%;
    --muted: 16 37% 5%;
    --accent: 16 93% 66%;
    --border: 215 27.9% 16.9%;
    --popover: 196 53% 3%;
    --primary: 196 93% 66%;
    --secondary: 22.64 97.96% 62.24%;
    --background: 196 53% 3%;
    --foreground: 196 25% 97%;
    --destructive: 5 98% 53%;
    --card-foreground: 196 25% 97%;
    --muted-foreground: 16 13% 66%;
    --accent-foreground: 16 93% 6%;
    --popover-foreground: 196 25% 97%;
    --primary-foreground: 196 93% 6%;
    --secondary-foreground: 16 93% 6%;
    --destructive-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}